:root {
  --scrollbar-background-color: rgba(100, 100, 100, 1);
  --scrollbar-foreground-color: rgba(150, 150, 150, 1);
}

/* Scroll bar styles */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-foreground-color) var(--scrollbar-background-color);
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: var(--scrollbar-background-color);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-foreground-color);
    border-radius: 5px;
  }
/* End Scroll bar styles */
