<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
      <%= metadata.siteTitle %>
    </title>
    <link rel="icon" href="/assets/favicon.ico"/>
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    >
    <style>
      :root {
        --spinnerSize: 80px;
      }
      .spinnerParent {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .spinner {
        width: var(--spinnerSize);
        height: var(--spinnerSize);
        border: 8px solid #f3f3f3; /* Light grey */
        border-top: 8px solid #3498db; /* Blue */
        border-radius: 50%;
        animation: spin 1s linear infinite;
      }
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <body>
        <div class="container">
            <div id="app">
              <div class='spinnerParent'>
                <div class='spinner'></div>
              </div>
            </div>
        </div>
    <% if(process.env.NODE_ENV === 'production') { %>
        <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <% } else { %>
        <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
		<% } %>
        <% for(var jsLocation of Object.values(manifest)) {%>
        <script type="text/javascript" src="<%- jsLocation %>"></script>
        <% } %>
    </body>
</html>
